<%= form_for(roman_numeral) do |f| %>
  <% if roman_numeral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roman_numeral.errors.count, "error") %> prohibited this roman_numeral from being saved:</h2>

      <ul>
      <% roman_numeral.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
